In [1]:
import numpy as np
import pandas as pd
from math import *
from copy import deepcopy

In [2]:
df = pd.read_csv('./data/20111123/13301104001.csv', error_bad_lines=False)
df.head()

,15395,AYJ,13301104001,20111123000134,116.2887650,39.8632050,428709232,146956322,000,176,0,4,50#
0,26859,AYJ,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0,4,50#
1,39112,AYJ,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0,4,50#
2,50949,AYJ,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0,4,50#
3,2581,AYJ,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0,4,50#
4,11729,AYJ,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0,4,50#

In [3]:
# drop irrelevant cols
to_drop = ['4', '50#']
df.drop(to_drop, inplace=True, axis=1)

In [4]:
df.shape

(1428, 11)

In [5]:
# AYJ seems redundent
print (sum (df[:]['AYJ'] != 'AYJ'))
# remove it
df.drop(['AYJ'], inplace=True, axis=1)

0

In [6]:
# renaming cols
rename_mapping_cands = ['point_id', 'taxi_id', 'time', 'x', 'y', 'OSM_st', 'OSM_ed', 'speed', 'theta', 'status']
rename_mapping = {}
for i, name in enumerate(df.columns.values):
    rename_mapping[name] = rename_mapping_cands[i]

In [7]:
rename_mapping

{'15395': 'point_id',
 '13301104001': 'taxi_id',
 '20111123000134': 'time',
 '116.2887650': 'x',
 '39.8632050': 'y',
 '428709232': 'OSM_st',
 '146956322': 'OSM_ed',
 '000': 'speed',
 '176': 'theta',
 '0': 'status'}

In [8]:
df.rename(rename_mapping, axis=1, inplace=True)

In [9]:
df.head()

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0

In [10]:
# modifying data types
# convert time from int to string
df.time = df.time.astype('str')

In [11]:
df.time

0       20111123000228
1       20111123000321
2       20111123000415
3       20111123000508
4       20111123000606
5       20111123000700
6       20111123000755
7       20111123000850
8       20111123000944
9       20111123001040
10      20111123001134
11      20111123001228
12      20111123001415
13      20111123001509
14      20111123001604
15      20111123001658
16      20111123001752
17      20111123001847
18      20111123001942
19      20111123002036
20      20111123002130
21      20111123002224
22      20111123002319
23      20111123002413
24      20111123002507
25      20111123002600
26      20111123002610
27      20111123002655
28      20111123002748
29      20111123002902
             ...
1398    20111123233108
1399    20111123233203
1400    20111123233256
1401    20111123233350
1402    20111123233443
1403    20111123233632
1404    20111123233727
1405    20111123233821
1406    20111123233916
1407    20111123234010
1408    20111123234105
1409    20111123234159
1410    20111123234255
1411    20111123234349
1412    20111123234443
1413    20111123234536
1414    20111123234630
1415    20111123234724
1416    20111123234818
1417    20111123234911
1418    20111123235005
1419    20111123235059
1420    20111123235153
1421    20111123235248
1422    20111123235344
1423    20111123235440
1424    20111123235630
1425    20111123235724
1426    20111123235818
1427    20111123235912
Name: time, Length: 1428, dtype: object

In [12]:
# remove unreal points
limits = {'long': [39.768522, 40.028584], 'lat': [116.218923, 116.550119]}
# print (sum(df.where(df.loc[:]['x'] >= limits['lat'][0]).loc[:, 'x'] <= limits['lat'][1]))
# print (sum (df.where(df.loc[:, 'y'] >= limits['long'][0]).loc[:, 'y'] <= limits['long'][1]))
df = df[(df.x >= limits['lat'][0]) & (df.x <= limits['lat'][1])]
df = df[(df.y >= limits['long'][0]) & (df.y <= limits['long'][1])]

In [13]:
# remove duplicate timing points
df.drop_duplicates(['taxi_id', 'time'], inplace=True)

In [14]:
df

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0
5,23084,13301104001,20111123000700,116.288818,39.863182,428709430,146956214,0,290,0
6,35297,13301104001,20111123000755,116.288834,39.863178,428709487,146956210,0,290,0
7,47432,13301104001,20111123000850,116.288849,39.863171,428709541,146956194,0,290,0
8,59881,13301104001,20111123000944,116.288864,39.863171,428709598,146956204,0,290,0
9,7022,13301104001,20111123001040,116.288864,39.863171,428709599,146956174,0,290,0
10,17236,13301104001,20111123001134,116.288849,39.863174,428709549,146956202,0,290,0
11,28595,13301104001,20111123001228,116.288864,39.863174,428709604,146956206,0,290,0
12,53015,13301104001,20111123001415,116.288849,39.863174,428709533,146956186,0,290,0
13,2729,13301104001,20111123001509,116.288849,39.863178,428709556,146956232,0,290,0
14,11582,13301104001,20111123001604,116.288849,39.863178,428709524,146956217,0,290,0
15,22264,13301104001,20111123001658,116.288864,39.863171,428709574,146956179,0,290,0
16,34536,13301104001,20111123001752,116.288887,39.863171,428709682,146956197,0,106,0
17,46863,13301104001,20111123001847,116.288864,39.863178,428709593,146956216,0,106,0
18,58986,13301104001,20111123001942,116.288818,39.863186,428709403,146956247,0,106,0
19,6682,13301104001,20111123002036,116.288780,39.863178,428709300,146956200,0,106,0
20,17370,13301104001,20111123002130,116.288803,39.863178,428709386,146956230,0,106,0
21,28504,13301104001,20111123002224,116.288765,39.863167,428709224,146956169,0,106,0
22,40813,13301104001,20111123002319,116.288780,39.863182,428709266,146956245,0,106,0
23,52999,13301104001,20111123002413,116.288818,39.863197,428709430,146956301,0,106,0
24,2191,13301104001,20111123002507,116.288849,39.863186,428709548,146956260,0,106,0
25,10698,13301104001,20111123002600,116.288933,39.863194,428709866,146956273,0,90,0
26,38468,13301104001,20111123002610,116.288864,39.863171,428709572,146956182,0,90,0
27,21616,13301104001,20111123002655,116.288902,39.863186,428709735,146956247,0,90,0
28,33800,13301104001,20111123002748,116.288887,39.863178,428709685,146956216,0,90,0
29,50630,13301104001,20111123002902,116.288887,39.863178,428709691,146956231,0,90,0
...,...,...,...,...,...,...,...,...,...,...
1398,14507,13301104001,20111123233108,116.354866,39.855171,428953407,146927118,0,234,0
1399,28093,13301104001,20111123233203,116.354866,39.855183,428953387,146927170,0,234,0
1400,41664,13301104001,20111123233256,116.354866,39.855179,428953408,146927156,0,234,0
1401,55266,13301104001,20111123233350,116.354851,39.855179,428953349,146927161,0,234,0
1402,68960,13301104001,20111123233443,116.354851,39.855179,428953345,146927169,0,234,0
1403,21550,13301104001,20111123233632,116.354851,39.855175,428953369,146927157,0,234,0
1404,35054,13301104001,20111123233727,116.354851,39.855167,428953337,146927114,0,234,0
1405,48552,13301104001,20111123233821,116.354851,39.855164,428953330,146927090,0,234,0
1406,62257,13301104001,20111123233916,116.354851,39.855160,428953353,146927094,0,234,0
1407,3084,13301104001,20111123234010,116.354851,39.855156,428953368,146927085,0,234,0
1408,13890,13301104001,20111123234105,116.354851,39.855156,428953333,146927064,0,234,0
1409,27974,13301104001,20111123234159,116.354851,39.855152,428953349,146927044,0,234,0
1410,41326,13301104001,20111123234255,116.354851,39.855148,428953339,146927048,0,234,0
1411,54762,13301104001,20111123234349,116.354835,39.855145,428953313,146927036,0,234,0
1412,68150,13301104001,20111123234443,116.354851,39.855145,428953333,146927044,0,234,0
1413,7500,13301104001,20111123234536,116.354866,39.855152,428953410,146927062,0,234,0
1414,19838,13301104001,20111123234630,116.354866,39.855156,428953419,146927065,0,234,0
1415,33267,13301104001,20111123234724,116.354866,39.855152,428953423,146927063,0,234,0
1416,46541,13301104001,20111123234818,116.354851,39.855145,428953337,146927025,0,234,0
1417,59923,13301104001,20111123234911,116.354835,39.855129,428953298,146926976,0,234,0
1418,1535,13301104001,20111123235005,116.354851,39.855129,428953367,146926985,0,234,0
1419,12136,13301104001,20111123235059,116.354835,39.855125,428953294,146926961,0,234,0
1420,25979,13301104001,20111123235153,116.354835,39.855125,428953313,146926944,0,234,0
1421,39639,13301104001,20111123235248,116.354835,39.855118,428953283,146926919,0,234,0
1422,53725,13301104001,20111123235344,116.354851,39.855118,428953360,146926938,0,234,0
1423,67330,13301104001,20111123235440,116.354851,39.855110,428953365,146926908,0,234,0
1424,20044,13301104001,20111123235630,116.354851,39.855110,428953345,146926894,0,234,0
1425,33431,13301104001,20111123235724,116.354851,39.855106,428953354,146926884,0,234,0
1426,46653,13301104001,20111123235818,116.354851,39.855110,428953334,146926913,0,234,0
1427,60335,13301104001,20111123235912,116.354866,39.855110,428953405,146926918,0,234,0

In [15]:
# Remove high speed points
df.speed

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1398    0
1399    0
1400    0
1401    0
1402    0
1403    0
1404    0
1405    0
1406    0
1407    0
1408    0
1409    0
1410    0
1411    0
1412    0
1413    0
1414    0
1415    0
1416    0
1417    0
1418    0
1419    0
1420    0
1421    0
1422    0
1423    0
1424    0
1425    0
1426    0
1427    0
Name: speed, Length: 1428, dtype: int64

In [16]:
df.drop(df[df.speed > 90].index.tolist(), inplace=True)

In [17]:
df

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0
5,23084,13301104001,20111123000700,116.288818,39.863182,428709430,146956214,0,290,0
6,35297,13301104001,20111123000755,116.288834,39.863178,428709487,146956210,0,290,0
7,47432,13301104001,20111123000850,116.288849,39.863171,428709541,146956194,0,290,0
8,59881,13301104001,20111123000944,116.288864,39.863171,428709598,146956204,0,290,0
9,7022,13301104001,20111123001040,116.288864,39.863171,428709599,146956174,0,290,0
10,17236,13301104001,20111123001134,116.288849,39.863174,428709549,146956202,0,290,0
11,28595,13301104001,20111123001228,116.288864,39.863174,428709604,146956206,0,290,0
12,53015,13301104001,20111123001415,116.288849,39.863174,428709533,146956186,0,290,0
13,2729,13301104001,20111123001509,116.288849,39.863178,428709556,146956232,0,290,0
14,11582,13301104001,20111123001604,116.288849,39.863178,428709524,146956217,0,290,0
15,22264,13301104001,20111123001658,116.288864,39.863171,428709574,146956179,0,290,0
16,34536,13301104001,20111123001752,116.288887,39.863171,428709682,146956197,0,106,0
17,46863,13301104001,20111123001847,116.288864,39.863178,428709593,146956216,0,106,0
18,58986,13301104001,20111123001942,116.288818,39.863186,428709403,146956247,0,106,0
19,6682,13301104001,20111123002036,116.288780,39.863178,428709300,146956200,0,106,0
20,17370,13301104001,20111123002130,116.288803,39.863178,428709386,146956230,0,106,0
21,28504,13301104001,20111123002224,116.288765,39.863167,428709224,146956169,0,106,0
22,40813,13301104001,20111123002319,116.288780,39.863182,428709266,146956245,0,106,0
23,52999,13301104001,20111123002413,116.288818,39.863197,428709430,146956301,0,106,0
24,2191,13301104001,20111123002507,116.288849,39.863186,428709548,146956260,0,106,0
25,10698,13301104001,20111123002600,116.288933,39.863194,428709866,146956273,0,90,0
26,38468,13301104001,20111123002610,116.288864,39.863171,428709572,146956182,0,90,0
27,21616,13301104001,20111123002655,116.288902,39.863186,428709735,146956247,0,90,0
28,33800,13301104001,20111123002748,116.288887,39.863178,428709685,146956216,0,90,0
29,50630,13301104001,20111123002902,116.288887,39.863178,428709691,146956231,0,90,0
...,...,...,...,...,...,...,...,...,...,...
1398,14507,13301104001,20111123233108,116.354866,39.855171,428953407,146927118,0,234,0
1399,28093,13301104001,20111123233203,116.354866,39.855183,428953387,146927170,0,234,0
1400,41664,13301104001,20111123233256,116.354866,39.855179,428953408,146927156,0,234,0
1401,55266,13301104001,20111123233350,116.354851,39.855179,428953349,146927161,0,234,0
1402,68960,13301104001,20111123233443,116.354851,39.855179,428953345,146927169,0,234,0
1403,21550,13301104001,20111123233632,116.354851,39.855175,428953369,146927157,0,234,0
1404,35054,13301104001,20111123233727,116.354851,39.855167,428953337,146927114,0,234,0
1405,48552,13301104001,20111123233821,116.354851,39.855164,428953330,146927090,0,234,0
1406,62257,13301104001,20111123233916,116.354851,39.855160,428953353,146927094,0,234,0
1407,3084,13301104001,20111123234010,116.354851,39.855156,428953368,146927085,0,234,0
1408,13890,13301104001,20111123234105,116.354851,39.855156,428953333,146927064,0,234,0
1409,27974,13301104001,20111123234159,116.354851,39.855152,428953349,146927044,0,234,0
1410,41326,13301104001,20111123234255,116.354851,39.855148,428953339,146927048,0,234,0
1411,54762,13301104001,20111123234349,116.354835,39.855145,428953313,146927036,0,234,0
1412,68150,13301104001,20111123234443,116.354851,39.855145,428953333,146927044,0,234,0
1413,7500,13301104001,20111123234536,116.354866,39.855152,428953410,146927062,0,234,0
1414,19838,13301104001,20111123234630,116.354866,39.855156,428953419,146927065,0,234,0
1415,33267,13301104001,20111123234724,116.354866,39.855152,428953423,146927063,0,234,0
1416,46541,13301104001,20111123234818,116.354851,39.855145,428953337,146927025,0,234,0
1417,59923,13301104001,20111123234911,116.354835,39.855129,428953298,146926976,0,234,0
1418,1535,13301104001,20111123235005,116.354851,39.855129,428953367,146926985,0,234,0
1419,12136,13301104001,20111123235059,116.354835,39.855125,428953294,146926961,0,234,0
1420,25979,13301104001,20111123235153,116.354835,39.855125,428953313,146926944,0,234,0
1421,39639,13301104001,20111123235248,116.354835,39.855118,428953283,146926919,0,234,0
1422,53725,13301104001,20111123235344,116.354851,39.855118,428953360,146926938,0,234,0
1423,67330,13301104001,20111123235440,116.354851,39.855110,428953365,146926908,0,234,0
1424,20044,13301104001,20111123235630,116.354851,39.855110,428953345,146926894,0,234,0
1425,33431,13301104001,20111123235724,116.354851,39.855106,428953354,146926884,0,234,0
1426,46653,13301104001,20111123235818,116.354851,39.855110,428953334,146926913,0,234,0
1427,60335,13301104001,20111123235912,116.354866,39.855110,428953405,146926918,0,234,0

In [18]:
# calculating distance between points u and v
# u[long, lat]
def dis(u, v):
    mid = sin(u[1]) * sin(v[1]) + cos(u[1]) * cos(v[1]) * cos(u[0] - v[0])
    R = 6371.004
    mid = -1 if mid < -1 else mid
    mid = 1 if mid > 1 else mid
    return acos(mid) * R

In [19]:
df.shape

(1427, 10)

In [20]:
to_drop = []
for i in range(df.shape[0] - 1):
    u = [df.iloc[i].x, df.iloc[i].y]
    v = [df.iloc[i + 1].x, df.iloc[i + 1].y]
    for j in range(2):
        u[j] *= 3.1415926 / 180
        v[j] *= 3.1415926 / 180
    if dis(u, v) > 2:
        to_drop.append(i)

In [21]:
df.shape

(1427, 10)

In [22]:
# remove laggy points
class Time(object):
    def __init__(self, year=None, month=None, day=None, hour=None, minute=None, second=None):
        self.year = year
        self.month = month
        self.day = day
        self.hour = hour
        self.minute = minute
        self.second = second
    
    def __abs__(self):
        t = deepcopy(self)
        for k, v in t.__dict__.items():
            setattr(t, k, abs(v))
            
    def __sub__(self, other):
        t = Time(0, 0, 0, 0, self.minute - other.minute, self.second - other.second)
        return t

In [23]:
def gen_Time(time):
    year = int(time[: 4])
    month = int(time[4: 6])
    day = int(time[6: 8])
    hour = int(time[8: 10])
    minute = int(time[10: 12])
    second = int(time[12: 14])
    return Time(year, month, day, hour, minute, second)

In [24]:
t0 = gen_Time('20111123000228')
t1 = gen_Time('20111123000330')
t2 = t0 - t1
print (t2.hour, t2.second)

0 -2

In [25]:
# df.iloc[0].time
# 20111123000228
# where = [0, 4]
# for i in range(2, 7):
#     where.append(where[i - 1] + 2)
to_drop = []
for i in range(df.shape[0] - 1):
    t0 = gen_Time(df.iloc[i].time)
    t1 = gen_Time(df.iloc[i].time)
    delta_t = t0 - t1
    if (delta_t.minute >= 11 or (delta_t.minute == 10 and delta_t.second >= 0)):
        to_drop.append(i)

In [26]:
df.drop(to_drop, inplace=True)

In [33]:
# remove stationary points
df = df[df.speed != 0]

In [34]:
df.shape

(550, 10)

In [29]:
# remove waiting points
df = df[df.status != 3]

In [30]:
df.shape

(723, 10)

In [32]:
df

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
36,4585,13301104001,20111123003525,116.288948,39.863235,428709897,146956421,0,90,0
37,14783,13301104001,20111123003619,116.289001,39.863239,428710099,146956426,2,84,0
38,26160,13301104001,20111123003713,116.289017,39.863247,428710164,146956459,0,86,0
104,56370,13301104001,20111123013920,116.288719,39.863209,428709077,146956313,0,298,0
105,11653,13301104001,20111123014109,116.288780,39.863224,428709264,146956375,2,264,0
106,23351,13301104001,20111123014202,116.288803,39.863224,428709371,146956393,0,262,0
141,48259,13301104001,20111123021344,116.288666,39.863270,428708864,146956537,0,268,0
142,60318,13301104001,20111123021437,116.288719,39.863224,428709044,146956397,10,54,0
143,5804,13301104001,20111123021531,116.288567,39.863453,428708492,146957234,0,52,0
144,17352,13301104001,20111123021623,116.288567,39.863430,428708489,146957156,0,52,0
145,29330,13301104001,20111123021719,116.288597,39.863319,428708616,146956725,2,156,0
146,41359,13301104001,20111123021812,116.288597,39.863323,428708590,146956749,0,156,0
159,120,13301104001,20111123022955,116.288567,39.863262,428708496,146956510,0,104,0
160,9537,13301104001,20111123023050,116.288300,39.863457,428707490,146957254,6,118,0
161,21263,13301104001,20111123023143,116.288414,39.863422,428707912,146957114,0,110,0
169,21790,13301104001,20111123024144,116.288681,39.863308,428708923,146956679,0,338,0
170,33614,13301104001,20111123024240,116.288536,39.863369,428708394,146956917,4,134,0
171,45500,13301104001,20111123024334,116.288536,39.863365,428708393,146956907,0,114,0
177,13177,13301104001,20111123025107,116.288666,39.863274,428708877,146956573,0,334,0
178,36766,13301104001,20111123025255,116.288681,39.863228,428708904,146956394,10,146,0
179,48607,13301104001,20111123025349,116.288650,39.863243,428708809,146956457,0,146,0
181,6680,13301104001,20111123025536,116.288696,39.863232,428708985,146956397,0,146,0
182,18290,13301104001,20111123025630,116.288696,39.863228,428708953,146956396,10,132,0
183,29982,13301104001,20111123025724,116.288513,39.863338,428708310,146956797,2,268,0
184,41885,13301104001,20111123025817,116.288551,39.863331,428708456,146956791,0,114,0
190,47202,13301104001,20111123030340,116.288696,39.863232,428708972,146956396,0,136,0
191,59106,13301104001,20111123030435,116.288681,39.863213,428708924,146956330,2,328,0
192,11019,13301104001,20111123030356,116.289001,39.862915,428710091,146955239,0,324,0
193,5515,13301104001,20111123030529,116.289017,39.862907,428710176,146955204,2,310,0
...,...,...,...,...,...,...,...,...,...,...
1281,72008,13301104001,20111123212940,116.299751,39.856842,428749791,146932930,0,2,0
1282,20007,13301104001,20111123213130,116.299835,39.856525,428750097,146931742,8,178,0
1288,25775,13301104001,20111123213653,116.299850,39.856590,428750146,146931990,0,6,0
1289,40094,13301104001,20111123213747,116.299850,39.856609,428750139,146932050,0,6,0
1290,54549,13301104001,20111123213840,116.299698,39.856838,428749599,146932911,2,148,0
1304,48923,13301104001,20111123215316,116.299950,39.856510,428750505,146931704,0,204,0
1305,63459,13301104001,20111123215406,116.299934,39.856506,428750479,146931690,0,340,0
1306,1321,13301104001,20111123215503,116.299896,39.856518,428750339,146931723,2,338,0
1318,25464,13301104001,20111123220648,116.299850,39.856678,428750179,146932301,0,238,0
1319,55130,13301104001,20111123220838,116.299881,39.856709,428750252,146932435,0,238,0
1320,69926,13301104001,20111123220931,116.298836,39.856731,428746422,146932514,19,272,0
1321,18690,13301104001,20111123221124,116.288536,39.856575,428708389,146931856,13,272,0
1322,33254,13301104001,20111123221218,116.288086,39.857914,428706698,146936818,0,4,0
1323,48020,13301104001,20111123221311,116.288063,39.860909,428706639,146947839,34,358,0
1343,24983,13301104001,20111123223146,116.288620,39.863476,428708687,146957309,0,158,0
1344,39665,13301104001,20111123223240,116.288597,39.863483,428708598,146957353,0,158,0
1345,54475,13301104001,20111123223336,116.291969,39.864883,428721053,146962525,34,86,0
1346,69713,13301104001,20111123223426,116.298836,39.865540,428746409,146964970,69,84,0
1347,18206,13301104001,20111123223622,116.314651,39.866535,428804849,146968761,0,74,0
1348,32395,13301104001,20111123223716,116.324051,39.866749,428839575,146969585,69,88,0
1349,46678,13301104001,20111123223811,116.330353,39.866737,428862828,146969602,54,90,0
1350,61170,13301104001,20111123223903,116.339104,39.866745,428895194,146969684,38,90,0
1351,372,13301104001,20111123223957,116.349449,39.866878,428933413,146970264,63,88,0
1352,52842,13301104001,20111123224334,116.358330,39.867271,428966203,146971747,6,84,0
1353,66876,13301104001,20111123224428,116.358353,39.865681,428966308,146965905,0,204,0
1354,17351,13301104001,20111123224618,116.358467,39.860847,428966699,146948064,0,174,0
1355,31374,13301104001,20111123224714,116.357948,39.859016,428964772,146941324,10,294,0
1356,45461,13301104001,20111123224809,116.355949,39.856541,428957402,146932166,36,210,0
1426,46653,13301104001,20111123235818,116.354851,39.855110,428953334,146926913,0,234,0
1427,60335,13301104001,20111123235912,116.354866,39.855110,428953405,146926918,0,234,0