In [ ]:
import sklearn
import pandas as pd
import numpy as np
from numpy import matmul
import matplotlib
from matplotlib import pyplot as plt
from DEC import for_all_files
from sklearn import decomposition, cluster

%matplotlib inline

In [2]:
df = for_all_files(['./data2/20111117.csv'])

In [3]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,96
0,16,15,26,25,29,21,15,17,7,12,...,15,20,23,32,19,33,35,25,23,20
1,26,25,38,29,36,30,19,19,9,15,...,27,29,28,42,28,42,38,46,30,28
2,1,1,3,1,1,1,1,1,1,2,...,1,1,2,1,0,0,0,0,0,0
3,20,21,38,26,31,27,14,19,9,11,...,22,27,21,41,22,30,37,39,24,29
4,7,6,5,6,7,7,4,2,2,2,...,9,11,5,7,5,5,2,11,4,8

In [4]:
df.shape

(127048, 96)

In [5]:
n_features = 3
max_iter = 1000
nmf = decomposition.NMF(n_components=n_features, max_iter=max_iter)

In [6]:
W = nmf.fit_transform(df)
H = nmf.components_

In [ ]:
# compute knn