In [1]:
import numpy as np
import pandas as pd
from math import *

In [2]:
df = pd.read_csv('./data/20111123/13301104001.csv', error_bad_lines=False)
df.head()

,15395,AYJ,13301104001,20111123000134,116.2887650,39.8632050,428709232,146956322,000,176,0,4,50#
0,26859,AYJ,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0,4,50#
1,39112,AYJ,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0,4,50#
2,50949,AYJ,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0,4,50#
3,2581,AYJ,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0,4,50#
4,11729,AYJ,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0,4,50#

In [3]:
# drop irrelevant cols
to_drop = ['4', '50#']
df.drop(to_drop, inplace=True, axis=1)

In [4]:
df.head()

,15395,AYJ,13301104001,20111123000134,116.2887650,39.8632050,428709232,146956322,000,176,0
0,26859,AYJ,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
1,39112,AYJ,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0
2,50949,AYJ,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0
3,2581,AYJ,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0
4,11729,AYJ,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0

In [5]:
# AYJ seems redundent
print (sum (df[:]['AYJ'] != 'AYJ'))
# remove it
df.drop(['AYJ'], inplace=True, axis=1)

0

In [6]:
df.head()

,15395,13301104001,20111123000134,116.2887650,39.8632050,428709232,146956322,000,176,0
0,26859,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0

In [7]:
# renaming cols
rename_mapping_cands = ['point_id', 'taxi_id', 'time', 'x', 'y', 'OSM_st', 'OSM_ed', 'speed', 'theta', 'status']
rename_mapping = {}
for i, name in enumerate(df.columns.values):
    rename_mapping[name] = rename_mapping_cands[i]

In [8]:
rename_mapping

{'15395': 'point_id',
 '13301104001': 'taxi_id',
 '20111123000134': 'time',
 '116.2887650': 'x',
 '39.8632050': 'y',
 '428709232': 'OSM_st',
 '146956322': 'OSM_ed',
 '000': 'speed',
 '176': 'theta',
 '0': 'status'}

In [9]:
df.rename(rename_mapping, axis=1, inplace=True)

In [10]:
df.head()

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,116.288765,39.863182,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,116.288765,39.863186,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,116.288780,39.863186,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,116.288803,39.863190,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,116.288818,39.863186,428709418,146956228,0,290,0

In [11]:
# modifying data types
# convert time from int to string
df.time = df.time.astype('str')

In [12]:
df.time

0       20111123000228
1       20111123000321
2       20111123000415
3       20111123000508
4       20111123000606
5       20111123000700
6       20111123000755
7       20111123000850
8       20111123000944
9       20111123001040
10      20111123001134
11      20111123001228
12      20111123001415
13      20111123001509
14      20111123001604
15      20111123001658
16      20111123001752
17      20111123001847
18      20111123001942
19      20111123002036
20      20111123002130
21      20111123002224
22      20111123002319
23      20111123002413
24      20111123002507
25      20111123002600
26      20111123002610
27      20111123002655
28      20111123002748
29      20111123002902
             ...
1398    20111123233108
1399    20111123233203
1400    20111123233256
1401    20111123233350
1402    20111123233443
1403    20111123233632
1404    20111123233727
1405    20111123233821
1406    20111123233916
1407    20111123234010
1408    20111123234105
1409    20111123234159
1410    20111123234255
1411    20111123234349
1412    20111123234443
1413    20111123234536
1414    20111123234630
1415    20111123234724
1416    20111123234818
1417    20111123234911
1418    20111123235005
1419    20111123235059
1420    20111123235153
1421    20111123235248
1422    20111123235344
1423    20111123235440
1424    20111123235630
1425    20111123235724
1426    20111123235818
1427    20111123235912
Name: time, Length: 1428, dtype: object

In [13]:
# remove unreal points
limits = {'long': [39.768522, 40.028584], 'lat': [116.218923, 116.550119]}
# print (sum(df.where(df.loc[:]['x'] >= limits['lat'][0]).loc[:, 'x'] <= limits['lat'][1]))
# print (sum (df.where(df.loc[:, 'y'] >= limits['long'][0]).loc[:, 'y'] <= limits['long'][1]))
df.x = df[(df.x >= limits['lat'][0]) & (df.x <= limits['lat'][1])]
df.y = df[(df.y >= limits['long'][0]) & (df.y <= limits['long'][1])]

In [14]:
# remove duplicate timing points
df.drop_duplicates(['taxi_id', 'time'], inplace=True)

In [15]:
df

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,26859,26859,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,39112,39112,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,50949,50949,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,2581,2581,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,11729,11729,428709418,146956228,0,290,0
5,23084,13301104001,20111123000700,23084,23084,428709430,146956214,0,290,0
6,35297,13301104001,20111123000755,35297,35297,428709487,146956210,0,290,0
7,47432,13301104001,20111123000850,47432,47432,428709541,146956194,0,290,0
8,59881,13301104001,20111123000944,59881,59881,428709598,146956204,0,290,0
9,7022,13301104001,20111123001040,7022,7022,428709599,146956174,0,290,0
10,17236,13301104001,20111123001134,17236,17236,428709549,146956202,0,290,0
11,28595,13301104001,20111123001228,28595,28595,428709604,146956206,0,290,0
12,53015,13301104001,20111123001415,53015,53015,428709533,146956186,0,290,0
13,2729,13301104001,20111123001509,2729,2729,428709556,146956232,0,290,0
14,11582,13301104001,20111123001604,11582,11582,428709524,146956217,0,290,0
15,22264,13301104001,20111123001658,22264,22264,428709574,146956179,0,290,0
16,34536,13301104001,20111123001752,34536,34536,428709682,146956197,0,106,0
17,46863,13301104001,20111123001847,46863,46863,428709593,146956216,0,106,0
18,58986,13301104001,20111123001942,58986,58986,428709403,146956247,0,106,0
19,6682,13301104001,20111123002036,6682,6682,428709300,146956200,0,106,0
20,17370,13301104001,20111123002130,17370,17370,428709386,146956230,0,106,0
21,28504,13301104001,20111123002224,28504,28504,428709224,146956169,0,106,0
22,40813,13301104001,20111123002319,40813,40813,428709266,146956245,0,106,0
23,52999,13301104001,20111123002413,52999,52999,428709430,146956301,0,106,0
24,2191,13301104001,20111123002507,2191,2191,428709548,146956260,0,106,0
25,10698,13301104001,20111123002600,10698,10698,428709866,146956273,0,90,0
26,38468,13301104001,20111123002610,38468,38468,428709572,146956182,0,90,0
27,21616,13301104001,20111123002655,21616,21616,428709735,146956247,0,90,0
28,33800,13301104001,20111123002748,33800,33800,428709685,146956216,0,90,0
29,50630,13301104001,20111123002902,50630,50630,428709691,146956231,0,90,0
...,...,...,...,...,...,...,...,...,...,...
1398,14507,13301104001,20111123233108,14507,14507,428953407,146927118,0,234,0
1399,28093,13301104001,20111123233203,28093,28093,428953387,146927170,0,234,0
1400,41664,13301104001,20111123233256,41664,41664,428953408,146927156,0,234,0
1401,55266,13301104001,20111123233350,55266,55266,428953349,146927161,0,234,0
1402,68960,13301104001,20111123233443,68960,68960,428953345,146927169,0,234,0
1403,21550,13301104001,20111123233632,21550,21550,428953369,146927157,0,234,0
1404,35054,13301104001,20111123233727,35054,35054,428953337,146927114,0,234,0
1405,48552,13301104001,20111123233821,48552,48552,428953330,146927090,0,234,0
1406,62257,13301104001,20111123233916,62257,62257,428953353,146927094,0,234,0
1407,3084,13301104001,20111123234010,3084,3084,428953368,146927085,0,234,0
1408,13890,13301104001,20111123234105,13890,13890,428953333,146927064,0,234,0
1409,27974,13301104001,20111123234159,27974,27974,428953349,146927044,0,234,0
1410,41326,13301104001,20111123234255,41326,41326,428953339,146927048,0,234,0
1411,54762,13301104001,20111123234349,54762,54762,428953313,146927036,0,234,0
1412,68150,13301104001,20111123234443,68150,68150,428953333,146927044,0,234,0
1413,7500,13301104001,20111123234536,7500,7500,428953410,146927062,0,234,0
1414,19838,13301104001,20111123234630,19838,19838,428953419,146927065,0,234,0
1415,33267,13301104001,20111123234724,33267,33267,428953423,146927063,0,234,0
1416,46541,13301104001,20111123234818,46541,46541,428953337,146927025,0,234,0
1417,59923,13301104001,20111123234911,59923,59923,428953298,146926976,0,234,0
1418,1535,13301104001,20111123235005,1535,1535,428953367,146926985,0,234,0
1419,12136,13301104001,20111123235059,12136,12136,428953294,146926961,0,234,0
1420,25979,13301104001,20111123235153,25979,25979,428953313,146926944,0,234,0
1421,39639,13301104001,20111123235248,39639,39639,428953283,146926919,0,234,0
1422,53725,13301104001,20111123235344,53725,53725,428953360,146926938,0,234,0
1423,67330,13301104001,20111123235440,67330,67330,428953365,146926908,0,234,0
1424,20044,13301104001,20111123235630,20044,20044,428953345,146926894,0,234,0
1425,33431,13301104001,20111123235724,33431,33431,428953354,146926884,0,234,0
1426,46653,13301104001,20111123235818,46653,46653,428953334,146926913,0,234,0
1427,60335,13301104001,20111123235912,60335,60335,428953405,146926918,0,234,0

In [16]:
# Remove high speed points
df.speed

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1398    0
1399    0
1400    0
1401    0
1402    0
1403    0
1404    0
1405    0
1406    0
1407    0
1408    0
1409    0
1410    0
1411    0
1412    0
1413    0
1414    0
1415    0
1416    0
1417    0
1418    0
1419    0
1420    0
1421    0
1422    0
1423    0
1424    0
1425    0
1426    0
1427    0
Name: speed, Length: 1428, dtype: int64

In [17]:
df.drop(df[df.speed > 90].index.tolist(), inplace=True)

In [18]:
df

,point_id,taxi_id,time,x,y,OSM_st,OSM_ed,speed,theta,status
0,26859,13301104001,20111123000228,26859,26859,428709234,146956236,0,176,0
1,39112,13301104001,20111123000321,39112,39112,428709225,146956251,0,176,0
2,50949,13301104001,20111123000415,50949,50949,428709278,146956257,0,176,0
3,2581,13301104001,20111123000508,2581,2581,428709372,146956244,0,290,0
4,11729,13301104001,20111123000606,11729,11729,428709418,146956228,0,290,0
5,23084,13301104001,20111123000700,23084,23084,428709430,146956214,0,290,0
6,35297,13301104001,20111123000755,35297,35297,428709487,146956210,0,290,0
7,47432,13301104001,20111123000850,47432,47432,428709541,146956194,0,290,0
8,59881,13301104001,20111123000944,59881,59881,428709598,146956204,0,290,0
9,7022,13301104001,20111123001040,7022,7022,428709599,146956174,0,290,0
10,17236,13301104001,20111123001134,17236,17236,428709549,146956202,0,290,0
11,28595,13301104001,20111123001228,28595,28595,428709604,146956206,0,290,0
12,53015,13301104001,20111123001415,53015,53015,428709533,146956186,0,290,0
13,2729,13301104001,20111123001509,2729,2729,428709556,146956232,0,290,0
14,11582,13301104001,20111123001604,11582,11582,428709524,146956217,0,290,0
15,22264,13301104001,20111123001658,22264,22264,428709574,146956179,0,290,0
16,34536,13301104001,20111123001752,34536,34536,428709682,146956197,0,106,0
17,46863,13301104001,20111123001847,46863,46863,428709593,146956216,0,106,0
18,58986,13301104001,20111123001942,58986,58986,428709403,146956247,0,106,0
19,6682,13301104001,20111123002036,6682,6682,428709300,146956200,0,106,0
20,17370,13301104001,20111123002130,17370,17370,428709386,146956230,0,106,0
21,28504,13301104001,20111123002224,28504,28504,428709224,146956169,0,106,0
22,40813,13301104001,20111123002319,40813,40813,428709266,146956245,0,106,0
23,52999,13301104001,20111123002413,52999,52999,428709430,146956301,0,106,0
24,2191,13301104001,20111123002507,2191,2191,428709548,146956260,0,106,0
25,10698,13301104001,20111123002600,10698,10698,428709866,146956273,0,90,0
26,38468,13301104001,20111123002610,38468,38468,428709572,146956182,0,90,0
27,21616,13301104001,20111123002655,21616,21616,428709735,146956247,0,90,0
28,33800,13301104001,20111123002748,33800,33800,428709685,146956216,0,90,0
29,50630,13301104001,20111123002902,50630,50630,428709691,146956231,0,90,0
...,...,...,...,...,...,...,...,...,...,...
1398,14507,13301104001,20111123233108,14507,14507,428953407,146927118,0,234,0
1399,28093,13301104001,20111123233203,28093,28093,428953387,146927170,0,234,0
1400,41664,13301104001,20111123233256,41664,41664,428953408,146927156,0,234,0
1401,55266,13301104001,20111123233350,55266,55266,428953349,146927161,0,234,0
1402,68960,13301104001,20111123233443,68960,68960,428953345,146927169,0,234,0
1403,21550,13301104001,20111123233632,21550,21550,428953369,146927157,0,234,0
1404,35054,13301104001,20111123233727,35054,35054,428953337,146927114,0,234,0
1405,48552,13301104001,20111123233821,48552,48552,428953330,146927090,0,234,0
1406,62257,13301104001,20111123233916,62257,62257,428953353,146927094,0,234,0
1407,3084,13301104001,20111123234010,3084,3084,428953368,146927085,0,234,0
1408,13890,13301104001,20111123234105,13890,13890,428953333,146927064,0,234,0
1409,27974,13301104001,20111123234159,27974,27974,428953349,146927044,0,234,0
1410,41326,13301104001,20111123234255,41326,41326,428953339,146927048,0,234,0
1411,54762,13301104001,20111123234349,54762,54762,428953313,146927036,0,234,0
1412,68150,13301104001,20111123234443,68150,68150,428953333,146927044,0,234,0
1413,7500,13301104001,20111123234536,7500,7500,428953410,146927062,0,234,0
1414,19838,13301104001,20111123234630,19838,19838,428953419,146927065,0,234,0
1415,33267,13301104001,20111123234724,33267,33267,428953423,146927063,0,234,0
1416,46541,13301104001,20111123234818,46541,46541,428953337,146927025,0,234,0
1417,59923,13301104001,20111123234911,59923,59923,428953298,146926976,0,234,0
1418,1535,13301104001,20111123235005,1535,1535,428953367,146926985,0,234,0
1419,12136,13301104001,20111123235059,12136,12136,428953294,146926961,0,234,0
1420,25979,13301104001,20111123235153,25979,25979,428953313,146926944,0,234,0
1421,39639,13301104001,20111123235248,39639,39639,428953283,146926919,0,234,0
1422,53725,13301104001,20111123235344,53725,53725,428953360,146926938,0,234,0
1423,67330,13301104001,20111123235440,67330,67330,428953365,146926908,0,234,0
1424,20044,13301104001,20111123235630,20044,20044,428953345,146926894,0,234,0
1425,33431,13301104001,20111123235724,33431,33431,428953354,146926884,0,234,0
1426,46653,13301104001,20111123235818,46653,46653,428953334,146926913,0,234,0
1427,60335,13301104001,20111123235912,60335,60335,428953405,146926918,0,234,0

In [19]:
# calculating distance between points u and v
# u[long, lat]
def dis(u, v):
    return acos((sin(u[1]) * sin(v[1])) + (cos(u[1]) * cos(v[1]) * cos(u[0] - v[0]) )) * 6371.004

In [20]:
to_drop = []
for i in range(df.shape[0] - 1):
    print (df.x[i])
    # u = [df.x[i], df.y[i]]
    # v = [df.x[i + 1], df.y[i + 1]]
    # if dis(u, v) > 2:
    #     to_drop.append(i)

26859
39112
50949
2581
11729
23084
35297
47432
59881
7022
17236
28595
53015
2729
11582
22264
34536
46863
58986
6682
17370
28504
40813
52999
2191
10698
38468
21616
33800
50630
591
9433
20659
32798
45381
57598
4585
14783
26160
38847
51247
66
8568
19845
31329
43657
56080
14076
26724
39472
52416
65400
10616
23290
36011
48729
61340
17096
29989
42891
55523
68074
25795
10287
22750
38283
51259
63804
6769
19368
32432
44853
57205
1577
39574
13235
43041
25715
38275
55681
68460
9068
20398
32179
44462
57127
4418
14827
26050
38109
50629
62878
20160
32665
44850
57322
13969
25994
38220
50351
62651
19406
31583
43883
56370
11653
23351
35429
47770
60206
7257
18960
31147
43629
56045
3316
12985
24700
36720
48930
61385
6785
17947
29978
42154
54337
2196
12031
24064
36712
48852
61133
6289
17694
29868
42047
54384
2698
12677
24292
36184
48259
60318
5804
17352
29330
41359
53407
1263
12945
24962
36971
48994
61042
4852
15822
27657
39721
51659
120
9537
21263
33260
45481
27658
39533
51432
63295
9516
21790
33614
45500
57406
4386
26953
55321
3190
13177
36766
48607
60372
6680
18290
29982
41885
53737
21652
23086
12004
35082
47202
59106
11019
5515
22746
34929
47057
59056
5234
16906
28767
40678
52489
631
10331
22106
33928
45861
57970
5128
15760
27665
39469
51563
63613
11214
22858
35021
46852
58703
4975
16651
28567
40369
52372
64045
9718
21839
33708
45426
57561
3870
15236
27026
39160
51106
62965
8787
20540
32634
44498
56602
3035
14448
26351
38110
50137
62332
8405
20279
32141
44148
55907
1971
13439
25615
37995
50425
62415
8066
20236
32228
43931
55775
1878
13504
25422
37267
49153
61038
6717
18518
30383
42166
54436
966
12765
24616
36500
48339
60255
5925
17771
29575
41303
53419
65672
11454
23330
35238
47071
58985
4965
16511
28369
40428
52268
64173
9753
21623
33530
45396
57529
3875
15386
27619
39893
52507
65029
10873
22903
35322
47574
59622
5099
16676
29116
41067
53079
65078
10396
22820
35664
47603
59636
4856
16303
28416
40966
53443
65984
10842
23088
35247
47334
59698
4992
17388
29640
41935
54405
66899
11322
23388
35621
47818
60265
5138
17313
29533
42486
54975
67442
11435
23656
36197
48667
61330
5534
17487
30216
42449
54904
67319
10614
23499
36001
48661
61500
5296
17034
30181
42834
55176
67945
10745
23350
35847
48817
61924
5310
17228
29984
42718
55625
68247
10010
22853
35405
48366
60930
5078
17102
30292
43149
56183
69199
10463
23618
36824
49943
63142
17910
30808
43818
57010
70016
10643
23992
37624
50712
63916
5819
17541
30690
44413
57677
70991
10346
24027
37277
50626
64172
5347
17489
30717
44187
57599
71366
10746
24820
38744
52390
65981
18986
33145
47388
61361
1749
13597
27494
41432
55355
69484
20597
34083
48083
62055
20731
2216
13030
34596
48462
62627
3073
14348
27956
41357
55299
69198
7698
20597
34638
48407
62141
2015
32018
13238
27586
45612
60109
74311
11468
25263
39730
53970
68091
18580
32540
46422
60159
417
11482
25532
39589
53430
67440
17959
31931
45899
60312
74389
11607
25762
40343
54417
68343
18606
33703
48383
62630
2348
13846
28253
42180
56486
70721
8326
21313
35390
49259
63896
3822
14740
28552
42461
56618
70673
7872
20624
34656
48681
62616
2700
13686
14577
27470
41466
55463
69864
21059
34718
48445
62594
2574
13505
26947
41422
55417
69194
8109
33827
48030
62347
1564
11735
26224
40513
54815
69173
7716
20026
33609
47362
61425
2680
12812
26563
40821
54559
68367
18815
32479
47125
61034
2000
11833
20748
25317
38984
39019
52858
66822
18786
32713
46860
50658
60826
2011
2101
12033
25452
40194
53960
67706
7303
19771
33324
47153
60869
2225
12427
26663
40534
54413
68193
20826
34913
48581
62439
12420
16929
17049
17050
32522
46421
70257
31575
58319
58320
66362
67372
7514
19778
33649
47872
61440
3259
12935
26424
40572

KeyError: 621